body{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    
}
div.foto{
    background-color: aqua;
    width: 350px;
    
    max-width: 100vw;
    height: 350px;
    border-radius: 100%;
    margin: auto;  
}
a{
    color:white;
    text-decoration: none;
}

.topnav{
    width: 100%;
    max-width: 100vw;
    background-color: blueviolet;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
}
div.botao{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
}
div.botao:hover{
    background-color:darkslateblue;
}


#Portifolio{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
}
#Portifolio h1,h2{
    width: 100%;
    max-width: 100vw;
    text-align: center;
}
#porttext{
    width: 100%;
    max-width: 100vw;
}
#Serviços{
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}
#Serviços h1{
    width: 100%;
    max-width: 100vw;
    text-align: center
}
#contatos{
    background-color: blueviolet;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    list-style: none;
    padding: 0;
}
footer{
    width: 100%;
    max-width: 100vw;
    text-align: center;
}